<div class="col-10 offset-1">
  <h1>Welcome, <%= @user.username %></h1>
  <p>Your Games</p>
  <% @user.games.each do |game| %>
    <div class="game-box col-10 offset-1">
      <div class="row">
        <div class="col-4 offset-1">
          <h1><%= game.title %></h1>
        </div>

        <div class="col-4 offset-1">
          <h5>Description:</h3>
          <p><%= game.description %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-4 offset-1">
          <h1><%= image_tag game.screenshots.first.picture.url(:thumbnail) %></h1>
        </div>

        <div class="col-4 offset-1">
          <h5>Player Notes:</h5>
          <p><%= game.notes %></p>
        </div>
      </div>

      <%= link_to "#{game.title}", game_path(game) %>
    </div>

  <% end %>
  <%= link_to "Add a Game",  new_game_path %>
</div>
