<div class="bd-example">

  <h1>Add a New Game</h1>

  <%= form_for @game do |f| %>
    <div class="field">
      <%= f.label :title %> <br>
      <%= f.text_field :title %>
    </div>
    <br>

    <div class="field">
      <%= f.label :description, "Brief description of the game:" %> <br>
      <%= f.text_area :description %>
    </div>
    <br>

    <div class="field">
      <%= label :completed, "Check box if game has been completed." %>
      <%= f.check_box :completed %>
    </div>
    <br>

    <div class="field">
      Game Rating <br>
      <%= f.radio_button :rating, '1 Star' %>
      <%= f.label :rating, '1 Star', :value => '1 Star' %>
      <%= f.radio_button :rating, '2 Stars' %>
      <%= f.label :rating, '2 Stars', :value => '2 Stars' %>
      <%= f.radio_button :rating, '3 Stars' %>
      <%= f.label :rating, '3 Stars', :value => '3 Stars' %>
      <%= f.radio_button :rating, '4 Stars' %>
      <%= f.label :rating, '4 Stars', :value => '4 Stars' %>
      <%= f.radio_button :rating, '5 Stars' %>
      <%= f.label :rating, '5 Stars', :value => '5 Stars' %>
    </div>
    <br>

    <div class="field">
      <%= f.label :notes, "Player Notes:" %> <br>
      <%= f.text_area :notes %>
    </div>
    <br>

    <div class="field">
      <%= f.fields_for :screenshots do |screenshot_builder| %>
        <%= screenshot_builder.label :picture, "Upload Screenshot" %><br>
        <%= screenshot_builder.file_field :pictures, multiple: true %>
      <% end %>
    </div>
    <br>

    <%= f.submit "Add Game", :class=> "btn btn-primary" %>

  <% end %>

</div>
